.current{
    font-weight : bold;
    font-size : '15px';
}

.covered {
    width : 100%;
    height : 100%;
    position : fixed;
    background-color : rgba(0,0,0,0.3);
    top : 0;
    left : 0;
    z-index : 10
}

.covered img {
    top : 50%;
    left : 50%;
    margin-top : -60px;
    margin-left : -60px;
    position : fixed;
}

th, td {
    text-align : center;
}

.form-group .keyword {
    width : 700px;
    display : inline;
}

.form-group .options {
    width : 150px; 
    display: inline;
    margin-left : 15px;
}

.form-group .btn {
    margin-left : 15px;
    margin-top : -6px;
    width : 100px
}