extends layout

block head
    script(type="text/javascript" , src="/javascripts/detail.js")
    link(rel="stylesheet" , href="/stylesheets/detail.css")
    script(type='text/javascript')
        | window.foo = '#{data}';
block body
    div(ng-controller='detailCtrl')
        div(ng-if="UI.load").covered
            img(src="/images/indicator.svg")
        
        div.page-header
            h1 제목

        div.content-info
            div.info-writer 작성자 : 
                span 유경수
            div.info-date 작성일 : 
                span 2017-01-02
            div.info-count 조회수 : 
                span 0
        
        hr

        div.form-group.content-body
            div.form-control.content
        
        div
            button(type="button" style='margin-right : 15px;').btn.btn-lg.btn-default 목록
            button(type="button").btn.btn-lg.btn-warning 수정