extends layout

block head
    script(type="text/javascript" , src="/javascripts/detail.js")
    link(rel="stylesheet" , href="/stylesheets/detail.css")

block body
    div(ng-controller='detailCtrl')
        div(ng-if="UI.load").covered
            img(src="/images/indicator.svg")
        
        div.page-header
            h1 BOARD DETAIL
        
        div.form-group.content-title
            input(type='text' placeholder='제목을 입력해주세요').form-control
            div.btn-group
                button(type='button').btn.btn-md.btn-success 글쓰기
                button(type='button').btn.btn-md.btn-danger 취소

        hr

        div.form-group.content-body
            textarea.form-control