doctype html5
html(ng-app="boardApp")
    head
        title= title

        link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap-theme.css')
        
        script(type="text/javascript" , src="/bower/angular/angular.js")
        script(type="text/javascript" , src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js")
        link(rel="stylesheet" , href="/stylesheets/global.css")

        script(type="text/javascript" , src="/javascripts/global.js")

        block head
    body
        block body
    footer
        block footer

