doctype html5
html(ng-app="boardApp" , lang="ko")
    head
        title= title

        meta(charset="utf-8")

        link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap-theme.css')
        
        script(type="text/javascript" , src="/bower/angular/angular.js")
        
        link(rel="stylesheet" , href="/stylesheets/global.css")

        script(type="text/javascript" , src="/javascripts/global.js")

        block head
    body
        block body
    footer
        block footer

