extends layout

block head
    script(type='text/javascript')
        | window.cnt = '#{count}'; window.data = '#{data}';

    script(type='text/javascript' , src="/javascripts/board-list.js")

    link(rel='stylesheet', href='/stylesheets/list.css')
block body
    div(ng-controller="listCtrl")
        div(ng-if="UI.load").covered
            img(src="/images/indicator.svg")
        
        div.page-header
            h1 BOARD LIST

        div.form-group
            input(type='text' ,placeholder='검색어', ng-model="val.search.keyword").form-control.keyword
            select(ng-model="val.search.type").form-control.options
                option(value='TITLE') 제목
                option(value='WRITER') 작성자
                option(value='CONTENT') 내용
            button(type='button', ng-click="fn.search(1)").btn.btn-md.btn-success 검색
        hr 


        table.table.table-striped
            thead 
                tr 
                    th(style='width:5%') 번호  
                    th 제목
                    th(style='width:15%') 작성자
                    th(style='width:25%') 작성일
                    th(style='width:10%') 조회수
            tbody
                tr(ng-repeat="item in val.data")
                    td(ng-bind="item.Seq")
                    td
                        a(href="./detail?page={{item.Seq}}" , ng-bind="item.Title") 
                    td(ng-bind="item.Writer")
                    td(ng-bind="(item.Date | boardDT)")
                    td(ng-bind="item.View_count")
        div(style='text-align : center;')
            ul.pagination
                li
                    a(href="#" , ng-click="fn.pg.move(1)") first 
                li
                    a(href="#" , ng-click="fn.pg.prev()") prev
                li(ng-repeat='page in val.pg.list' , ng-class="{ 'active' : val.pg.current == page }")
                    a(href="#" , ng-click="fn.pg.move(page)" , ng-bind="page" )
                li
                    a(href="#" , ng-click="fn.pg.next()") next
                li 
                    a(href="#" , ng-click="fn.pg.move(val.pg.total_max)") last
                
            button(type="button" , class='btn btn-md btn-default', style="float : right; margin-top:20px;") 
                a(href="/board/proc") 글쓰기
