extends layout

block head
    script(type='text/javascript')
        | window.cnt = '#{count}'; window.data = '#{data}';

    script(type='text/javascript' , src="/javascripts/board-list.js")

    link(rel='stylesheet', href='/stylesheets/list.css')
block body
    div(ng-controller="listCtrl")
        div.page-header
            h1 BOARD LIST

        div(ng-if="UI.load").covered
            img(src="/images/indicator.svg")
    
        table.table.table-striped
            thead 
                tr 
                    th 번호  
                    th 제목
                    th 작성자
                    th 작성일
                    th 조회수
            tbody
                tr(ng-repeat="item in val.data")
                    td(ng-bind="item.Seq")
                    td
                        a(href="#{{item.Seq}}" , ng-bind="item.Title") 
                    td(ng-bind="item.Writer")
                    td(ng-bind="item.Date")
                    td(ng-bind="item.View_count")
        div(style='text-align : center;')
            ul.pagination
                li
                    a(href="#" , ng-click="fn.pg.move(1)") first 
                li
                    a(href="#" , ng-click="fn.pg.prev()") prev
                li(ng-repeat='page in val.pg.list' , ng-class="{ 'active' : val.pg.current == page }")
                    a(href="#" , ng-click="fn.pg.move(page)" , ng-bind="page" )
                li
                    a(href="#" , ng-click="fn.pg.next()") next
                li 
                    a(href="#" , ng-click="fn.pg.move(val.pg.total_max)") last